<div class="col-lg-4 col-md-6 col-sm-12 my-3">
<div class="card">
  <% if flat.photos.attached? %>
    <%= cl_image_tag flat.photos.first.key %>
  <% else %>
    <%= image_tag("not_found.png") %>
  <% end %>
  <div class="card-content">
    <div class="title"><%= link_to flat.name, flat_path(flat), class: "text-decoration-none text-dark" %></div>
    <div class="address"><%= flat.address %></div>
    <div class="price">$<%= flat.pricing %> per night</div>
  </div>
</div>
</div>
