<div class="card rounded m-3" style="width: 350px;">
  <% if flat.photos.attached? %>
    <%= cl_image_tag flat.photos.first.key, class: "rounded" %>
  <% else %>
    <%= image_tag("not_found.png") %>
  <%end%>

  <div class="card-body shadow mt-3">
    <p class="card-text">
      <h5><%= link_to flat.name, flat_path(flat), class: "text-decoration-none" %></h5>
      <span><%= flat.address %></span>
      <div class="d-flex">
        <div>
            <i class="fa-solid fa-coins"></i> <span>R$<%= flat.pricing %> Night</span>
            <br>
        </div>
      </div>
    </p>
  </div>
</div>
