<div class="col-lg-4 col-md-6 col-sm-12 my-3">
  <% if flat.photos.attached? %>
    <%= cl_image_tag flat.photos.first.key, width: 380, height: 250, :class => "rounded-top" %>
  <% else %>
    <%= image_tag("not_found.png") %>
  <% end %>
  <div class="card-content">
    <div class="title"><%= link_to flat.name, flat_path(flat), class: "text-decoration-none text-dark" %></div>
    <div class="small-info"><%= flat.address %></div>
    <div class="attention-info"><%= number_to_currency(flat.pricing, unit: 'R$', precision: 2) %> per night</div>
  </div>
</div>
