<h1>informations</h1>
<p>
  <%= current_user.id %>
  <br>
  <%= current_user.email %>
</p>
<hr>


<h1>My bookings - As Visitor </h1>

<div class="row">
  <% @bookings_visitor.each do |booking| %>
      <%= render booking %>
  <% end %>
</div>



<hr>

<h1>My Flats </h1>
<div class="row">
    <% @flats.each do |flat| %>
      <%= render flat %>
    <% end %>
</div>
<hr>


<h1>My bookings - As Owner </h1>
<div class="row">
  <% @bookings_owner.each do |booking| %>
    <%= render booking %>
  <% end %>
</div>
