
<div class="container my-4">
    <div class="d-flex gap-5">
        <div class="col-8">
            <div class="d-flex flex-column p-4 bg-light shadow-sm">
            <h3><%= @flat.name %></h3>
            <p><%= @flat.address %></p>
            </div>

            <div class="my-4 d-flex flex-column p-4 bg-light shadow-sm">
                <strong class="text-wrap"><%= @flat.description %></strong>
                <div class="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=Tijuca&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red&key=AIzaSyAPpx0wk4d-AQ8bhe8-a-ihC7NXLoPElhg')"></div>
                <iframe class="center" src="https://maps.google.com/maps?q=<%= @flat.address %>&t=&z=13&ie=UTF8&iwloc=&output=embed" style="width: 80%; height: 40%;"></iframe>

                <div class="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=<%= @flat.address %>&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red&key=AIzaSyAPpx0wk4d-AQ8bhe8-a-ihC7NXLoPElhg')"></div>
            </div>
        </div>


        <div class="col-4">
            <div class="d-flex flex-column p-4 bg-light shadow-sm">
                <h3>Details</h3>
                <div class="d-flex gap-4">
                    <p>people: <%= @flat.avaliability %></p>
                    <p>
                        <%= @flat.pricing %> <i class="fa-solid fa-coins"></i>
                    </p>
                </div>
                    <p>
                      Contact: <%= @user.email %>
                    </p>
                    <% if @flat.user_id.equal? current_user.id %>
                      <%= button_to "Destroy this Flat", @flat, method: :delete %>
                    <% end %>
            </div>

            <div class="my-4 d-flex flex-row p-4 bg-light shadow-sm gap-2">
                <strong class="me-auto">Share</strong>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-pinterest"></i>
            </div>

            <% if @flat.user_id.equal? current_user.id %>
              <div class="my-4 d-flex flex-row p-4 bg-light shadow-sm gap-2">
                  <strong class="me-auto">Bookmarks</strong>
                  <strong>flat = <%= @flat.user_id %></strong> |
                  <strong>current_user = <%= current_user.id %></strong>
              </div>
            <% end %>


              <div class="my-4 d-flex flex-row p-4 bg-light shadow-sm gap-2">
                  <strong class="me-auto">Bookmarks</strong>
                  <%= link_to "Bookings", flat_bookings_path(@flat) %>
                  <!-- logic about show this part only to users's flat or users that booking this flat -->
              </div>

        </div>
    </div>

</div>

<% @flat.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

    <div class="container my-4">
    <h2>Reviews</h2>

    <ul>
      <% @flat.reviews.each do |review| %>
        <li>
          content: <%= review.comment %>
          <br>
          rating: <%= review.rating %>
        </li>
      <% end %>
    </ul>

    <%= link_to "Add Review!", new_flat_review_path(@flat) %>


    </div>
