<style>
  .mapboxgl-ctrl-geocoder{
    display: none;
  }
  /* remove the search of the map in show */
</style>

<div class="container my-4">


    <div class="row w-100 my-4">
      <div class="col-12">
        <%= render "photos"%>
      </div>
    </div>









    <div class="d-flex gap-5">
    <div class="row w-100">
        <div class="col-xl-8 col-lg-8 col-sm-12 col-md-12">

        <!-- start - name and address -->
            <div class="d-flex flex-column p-4">
              <div class="d-flex justify-content-between">
                <h3 style="color: #e44d26;"><%= @flat.name %></h3>
                <!-- se for o owner do flat-->
                <% if policy(@flat).edit? %>
                  <%= link_to edit_flat_path(@flat) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                <% end %>

              </div>
              <p><%= @flat.address %></p>
            </div>
            <hr>
        <!-- end - name and address -->


        <!-- start - map and desc -->
            <div class="my-3 d-flex flex-column">
                  <h3 class="mx-3 pt-3">Description</h3>
                  <p class="text-wrap mx-3 p-3"><%= @flat.description %></p>
            </div>
            <hr>
               <div class="my-3 d-flex flex-column">
                  <h3 class="mx-3 pt-3">Map </h3>
                  <p class="text-wrap mx-3 p-3"><strong>Address:</strong> <%= @flat.address %></p>
                  <!--Mapbox-->
                 <div class="p-4">
                   <div style="width: 100%; height: 500px;"
                    data-controller="map"
                    data-map-markers-value="<%= [@marker].to_json %>"
                    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
                 </div>
                </div>

        <!-- end - map and desc -->


        </div>


        <div class="col-xl-4 col-lg-4 col-sm-12 col-md-12">

        <!-- start - Details -->

          <div class="card mb-3 sticky-top">
            <div class="card-body">
              <h2 class="card-title text-center pb-2">Details</h2>
              <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                  <p class="card-text"><strong>Guests: </strong><%= @flat.avaliability %></p>
                  <p class="card-text">
                    <strong>Price:</strong> <%= number_to_currency(@flat.pricing, unit: 'R$', precision: 2) %>
                  </p>
                  <p class="card-text"><strong>Contact:</strong> <%= @user.email %></p>
                </div>

              </div>
              <p class="card-text">
                <strong>Address:</strong> <%= @flat.address %>
              </p>
              <div class="d-flex gap-4">

                <%= button_to "Destroy this Flat", @flat, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' if policy(@flat).destroy? %>

                <%= link_to "!!See Bookings to your flat!(Owner)", flat_bookings_path(@flat), class: "btn btn-warning text-decoration-none text-dark btn-block" if policy(@flat).destroy? %>

                <%= link_to "Book now!", new_flat_booking_path(@flat), class: "btn btn-success ml-4 text-decoration-none text-dark btn-lg" if !policy(@flat).destroy? %>

              </div>
            </div>
          </div>

        <!-- end - Details -->
        </div>
    </div>
  </div>
</div>



<div class="card my-4 d-flex flex-column bg-light shadow-sm p-3">
  <div class="d-flex justify-content-between text-center py-2">
    <h2>Review</h2>
    <% if !policy(@flat).destroy? %>
      <%= link_to new_flat_review_path(@flat), class: "ml-4 text-decoration-none text-success" do %>
        Add Review <i class="fa-solid fa-plus"></i>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <% @flat.reviews.each do |review| %>
    <div class="col-lg-3 col-md-4 col-sm-6 my-3">
      <div class="card shadow">
        <div class="card-content">
          <div class="title"><%= review.user.name %></div>
          <div class="small-info"><%= review.comment %></div>
          <div style="color: #F6AE2D;">
            <% review.rating.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <% (5-review.rating).times do %>
              <i class="fa-regular fa-star"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>


  </div>
</div>
