
<div class="m-3 border shadow">
  <div class="d-flex flex-column p-4 bg-light">
    <h6><%= booking.date %></h6>
    <h6><%= booking.status %></h6>
  </div>
  <% if current_user.id.equal? booking.user_id %>
    <p>You booking this flat!!!</p>
  <% end %>

  <% if current_user.id.equal? @flat.user_id %>
    <p>This flat is your Flat!!!</p>
    <%= link_to "Delete/Decline!", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <%= simple_form_for(booking) do |f| %>
      <%= f.hidden_field :date %>
      <%= f.hidden_field :status, :value => true %>
      <%= f.button :submit %>
    <% end %>
  <% end %>
</div>
