  <div class="col-lg-4 col-md-6 col-sm-12 my-3">
  <div class="card">
    <% if booking.flat.photos.attached? %>
      <%= cl_image_tag booking.flat.photos.first.key %>
    <% else %>
      <%= image_tag("not_found.png") %>
    <% end %>
    <div class="card-content">
      <div class="title"><%= link_to booking.flat.name, flat_path(booking.flat), class: "text-decoration-none text-dark" %></div>
      <div class="small-info">
        Status:
        <% if booking.status %>
          <span class="text-success">Accepted</span>
        <% end %>

        <% if booking.status == false %>
          <span class="text-danger">Declined</span>
        <% end %>

        <% if booking.status.nil? %>
          <span class="text-warning">Not Seen</span>
        <% end %>
      </div>
      <div class="small-info">Between: <%= booking.check_in.strftime('%d/%m/%Y') %> and <%= booking.check_out.strftime('%d/%m/%Y') %></div>
      <div class="small-info">Solicited by user: <%= booking.user.name %></div>
      <div class="small-info">email: <%= booking.user.email %></div>


      <div class="attention-info"><%= number_to_currency(booking.flat.pricing, unit: 'R$', precision: 2) %> per night</div>
    </div>

    <div class="card-content">

      <% if current_user.id.equal? booking.user_id %>
        <p>You requested this flat!!!</p>
      <% end %>

      <% if current_user.id.equal? booking.flat.user_id %>
        <p>Accept or decline the offer!</p>

        <div class="d-flex justify-content-around">
          <%= simple_form_for(booking) do |f| %>
            <%= f.hidden_field :check_in %>
            <%= f.hidden_field :check_out %>
            <%= f.hidden_field :status, :value => true %>
            <%= f.submit "Accept", class: "btn btn-success" %>
          <% end %>
          <%= simple_form_for(booking) do |f| %>
            <%= f.hidden_field :check_in %>
            <%= f.hidden_field :check_out %>
            <%= f.hidden_field :status, :value => false %>
            <%= f.submit "Decline", class: "btn btn-danger" %>
          <% end %>
          <%= link_to "Delete!", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-warning" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
