<h1 class="text-center pt-5">Add review to Flat <span class="text-warning"><%= @flat.name %></span></h1>
<div class="card d-flex flex-column p-4 bg-light shadow-sm my-4">
  <%= simple_form_for [@flat, @review] do |f| %>
    <%= f.input :comment %>
      <div class="col-4"><%= f.input :rating %></div>
      <%= f.submit "Submit Review", class:"btn btn-success btn-lg" %>

  <% end %>
</div>
